<!-- Features section -->

<div class="row justify-content-center text-center mt-lg-3">
    <div class="col-lg-4">
        <img src="https://pbs.twimg.com/media/GfeSuO5bgAAbhVo?format=jpg&name=medium" alt="Habits Contribution Graph" class="img-fluid mb-3">
        <h2 class="h2">Habit Creation <small class="d-none">📅</small></h2>
        <p>Create, edit, and manage your daily habits with custom names and colors to track your consistency over time.</p>
    </div>
    <div class="col-lg-4">
        <img src="https://pbs.twimg.com/media/GgXGbSvbcAA_TjB?format=jpg&name=4096x4096" alt="Widget Screenshot" class="img-fluid mb-3" style="object-fit: cover; object-position: top; height: 30%; width: 100%;">
        <h2 class="h2">Contribution Graph <small class="d-none">📊</small></h2>
        <p>Visualize your habits in a GitHub-style heatmap to quickly assess your progress and consistency with different shades representing streak intensity.</p>
    </div>
    <div class="col-lg-4">
        <img src="https://pbs.twimg.com/media/GhuYkHdWwAEnFUV?format=png&name=900x900" alt="Concise Todo View" class="img-fluid mb-3">
        <h2 class="h2">Streak & Habit Tracking <small class="d-none">✅</small></h2>
        <p>Effortlessly log your progress with a single tap, receive reminders, and track your longest streaks to stay motivated.</p>
    </div>
    <div class="col-lg-4">
        <svg xmlns='http://www.w3.org/2000/svg' class='feather text-violet feather-big' width="4em" height="4em">
            <use href="{{ `images/feather/feather-sprite.svg#users` | relURL }}"/>
        </svg>
        <h2 class="h2">Social & Sharing Features <small class="d-none">👥</small></h2>
        <p>Share your progress with friends and join habit challenges to make habit-building more engaging and accountable.</p>
    </div>
    <div class="col-lg-4">
        <svg xmlns='http://www.w3.org/2000/svg' class='feather text-violet feather-big' width="4em" height="4em">
            <use href="{{ `images/feather/feather-sprite.svg#pie-chart` | relURL }}"/>
        </svg>
        <h2 class="h2">Insights & Analytics <small class="d-none">📈</small></h2>
        <p>Analyze your habit completion rates and receive weekly summaries to optimize your habit-building strategy.</p>
    </div>
    <div class="col-lg-4">
        <svg xmlns='http://www.w3.org/2000/svg' class='feather text-violet feather-big' width="4em" height="4em">
            <use href="{{ `images/feather/feather-sprite.svg#eye` | relURL }}"/>
        </svg>
        <h2 class="h2">Minimalist Experience <small class="d-none">🧘</small></h2>
        <p>Enjoy a simple and clean UI focused on daily cadence habits to build strong routines without distractions.</p>
    </div>
</div>
